table,th,td {
  border: 2px solid ;
  padding: 10px;
}
p{
  color:blueviolet;
  font-size:large ;
}
.btn{
  padding:5px;
  border:1px solid blue;
  margin:0px;
  border-radius: 5px;
  display: inline-flex;
  background-color:transparent;
  color:aqua;
  margin-bottom:10px;
}